/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.a,
.i {
  fill: none;
}
.b {
  clip-path: url(#ag);
}
.c,
.e {
  fill: #3f0f00;
}
.c,
.d,
.h,
.i,
.j,
.m,
.s,
.t,
.u {
  stroke: #707070;
}
.d {
  fill: url(#a);
}
.f,
.s {
  fill: #fff;
}
.f {
  font-size: 33px;
  font-family: SegoeUI-Bold, Segoe UI;
  font-weight: 700;
}
.g {
  font-size: 204px;
}
.g,
.k,
.l,
.t,
.u {
  font-family: trailmade, script;
}
.h {
  fill: url(#b);
}
.i {
  stroke-width: 30px;
}
.j {
  stroke-width: 29px;
  fill: url(#c);
}
.k {
  font-size: 117px;
}
.l,
.t {
  font-size: 63px;
}
.m {
  fill: url(#d);
}
.n {
  clip-path: url(#e);
}
.o {
  stroke: #5f2f39;
  fill: url(#f);
}
.o,
.p {
  stroke-width: 10px;
}
.p {
  stroke: #6d323d;
  fill: url(#g);
}
.q,
.r {
  fill: url(#ad);
}
.u {
  font-size: 115px;
}
.v,
.w {
  stroke: none;
}
.w {
  fill: #707070;
}
.x {
  fill: #f2f2f2;
}
