/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.a,
.h {
  fill: none;
}
.b {
  clip-path: url(#ab);
}
.c {
  fill: #3f0f00;
}
.d {
  fill: url(#a);
}
.af,
.ah,
.am,
.ao,
.e,
.m {
  fill: #fff;
}
.e {
  font-size: 33px;
  font-family: SegoeUI-Bold, Segoe UI;
  font-weight: 700;
}
.f {
  font-size: 204px;
}
.af,
.ah,
.am,
.ao,
.f,
.j,
.k,
.m {
  font-family: Trailmade-Regular, Trailmade;
}
.g {
  fill: url(#b);
}
.ag,
.h,
.i {
  stroke: #707070;
}
.h {
  stroke-width: 30px;
}
.i {
  stroke-width: 29px;
  fill: url(#c);
}
.j {
  font-size: 117px;
}
.k {
  stroke: #000;
}
.ao,
.k {
  font-size: 63px;
}
.l {
  fill: url(#d);
}
.m {
  font-size: 115px;
}
.n {
  clip-path: url(#e);
}
.aa,
.ab,
.ac,
.o,
.p,
.q,
.r,
.s,
.t,
.u,
.v,
.w,
.x,
.y,
.z {
  stroke: #7185ac;
  stroke-width: 27px;
}
.o {
  fill: url(#f);
}
.p {
  fill: url(#g);
}
.q {
  fill: url(#h);
}
.r {
  fill: url(#i);
}
.s {
  fill: url(#j);
}
.t {
  fill: url(#k);
}
.u {
  fill: url(#l);
}
.v {
  fill: url(#m);
}
.w {
  fill: url(#n);
}
.x {
  fill: url(#o);
}
.y {
  fill: url(#p);
}
.z {
  fill: url(#q);
}
.aa {
  fill: url(#r);
}
.ab {
  fill: url(#s);
}
.ac {
  fill: url(#t);
}
.ad {
  fill: url(#u);
}
.ae {
  fill: url(#v);
}
.af {
  font-size: 120px;
}
.ag {
  fill: url(#w);
}
.ah {
  font-size: 77px;
}
.ai {
  fill: #7185ac;
}
.aj {
  fill: url(#x);
}
.ak {
  fill: url(#y);
}
.al {
  fill: url(#z);
}
.am {
  font-size: 94px;
}
.an {
  fill: #757476;
}
.ap {
  stroke: none;
}
.aq {
  fill: #f2f2f2;
}
